<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Add New Blog Page</title>
</head>
<body>
    <%- include('./partials/navbar') %>

    <div class="container mt-3">
        <form action="/blog" method="POST" enctype="multipart/form-data">
            <div class="mb-3 pt-10">
                <label for="coverImage" class="form-label">Cover Image</label>
                <input type="file" class="form-control" id="coverImage" name="coverImage" aria-describedby="coverImage">
              </div>
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name="title" aria-describedby="title">
              </div>
            <div class="mb-3">
                <label for="floatingTextarea">Body</label>
                <label for="title" class="form-label">Body</label>
                <textarea name="body" class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                <div class="mt-2">
                    <button class="btn btn-primary">Submit</button>
                </div>
              </div>
        </form>
    </div>

    <%- include('./partials/scripts') %>
</body>
</html>